@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

* {
  text-decoration: none;
  font-family: "Bagel Fat One";
}

body {
  background-color: rgb(50, 50, 50);
  color: white;
  font-size: 20px;
}

h1 a {
  font-size: 40px !important;
}

a {
  color: white;
  cursor: pointer;
  font-size: 25px;
}

a:hover {
  text-decoration: underline;
  text-shadow: 0 0 10px white;
}
